body {
  background: url('../images/planesky.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.navbar {
margin-bottom: 0;
border-radius: 0;
background-color: #18181C;
color: #FFF;
padding: 1% 0;
font-size: 1.2em;
border: 0;
}
.navbar-inverse .navbar-brand{
position: relative;
float: left;
min-height: 55px;
padding: 10 15px 5px;
color: #E7E5DF;
font-size: 1.4em;
}
.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
color: #FFF;
background-color: #303038;
text-align: right;
}
.navbar-inverse .navbar-nav li a {
color: #B5B2AD;
}
.navbar-inverse .open .dropdown .dropdown-menu>li>a,.navbar-inverse .open .dropdown .dropdown-menu{
  background-color: #FFFDF9;
  color:#44BBA4;
}
.container{
position:fixed;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);

}
.panel-body .btn-group .btn.btn-default.dropdown-toggle {
  position:relative;
  padding: 10px 60px;
  border-radius: 0px;
  margin:10px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333 !important;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 50%;
    bottom: 50px;
    font-size: 25px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 50px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 50px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
